In [143]:
import pandas as pd

In [144]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name ": ['Тургенев', 'Чехов', 'Островский']
})

In [145]:
authors

   author_id author_name
0          1     Тургенев
1          2        Чехов
2          3   Островский

In [146]:
book = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290],
})

In [147]:
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [148]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')

In [149]:
authors_price

   author_id author_name             book_title  price
0          1     Тургенев           Отцы и дети    450
1          1     Тургенев                 Рудин    300
2          1     Тургенев     Дворянское гнездо    350
3          2        Чехов      Толстый и тонкий    500
4          2        Чехов       Дама с собачкой    450
5          3   Островский                 Гроза    370
6          3   Островский  Таланты и поклонники    290

In [150]:
top5 = authors_price.sort_values(by=['price'], ascending=False)[0:5]

In [155]:
authors_stattest = authors_price.loc[authors_price["author_id"] == 1, "price"].mean()

In [158]:
authors_price["author_name"]

KeyError: 'author_name'